@using Students_Interest_System.Models
@model Items
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>


    <link href="~/css/site.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>
<body>

    <style>
        .container {
            max-width: 820px;
            background-color: #E9F5DB;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 0;
            height:100%;
            margin: 0 auto;
            margin-left: 79%;
            border-width: 5px;
            border-color: white;
            transform: translateX(-50%);
        }

        .box {
            transform: translate(-50%, -15%);
            border: 1px solid black;
            padding: 20px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            line-height: 1;
            margin-top: 30%;
            background-color: #E4ECD9;
        }

        h1{
            margin-top:25px;
            font-family:'Times New Roman', Times, serif;
        }

        body{
            background-color: #758467
        }

        .form-group {
            margin-bottom: 10px;
        }

        .form-group label {
            font-weight: bold;
        }

        .form-group input,
        .form-group select {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ced4da;
            border-radius: 5px;
        }

        .header {
            background-color: #1b2e35;
            color: white;
            padding: 15px;
            display: flex;
        }

        .header a {
            margin: 20px;
            font-family: "Ink Free";
            color: white;
            font-weight: bold;
            font-size: 24px;
            text-decoration: None;
        }

        .header h2 {
            margin: 20px 10px 10px 50px;
            color: white;
            font-weight: bold;
            padding-right: 50%;
            font-family: "Ink Free";
        }

        .btn-group {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .btn {
            flex: 1;
            margin: 0 5px;
            width: 48%;
        }

        .custom-radio {
            margin-left: 100px;
        }

    </style>

    <header class="header">
        <h2>EDGE MINDS</h2>

        <a href="@Url.Action("Dashboard", "Student")">Dashboard</a>

        <a href="@Url.Action("AllStudents", "Student")">All Students</a>

        <a href="@Url.Action("Logout", "Student")">Logout</a>

    </header>

 
    <section class="container">

        <h1 class="text-center mb-4">Adding Student</h1>
        <form class="box" action="/Student/StudentForm" method="post">

            <div class="form-group">
                <label class="form-label" for="Name"> Full Name </label><br />
                <input class="form-control" asp-for="@Model.student.Name" required/><br />
            </div>

            <div class="form-group">
                <label class="form-label" for="RollNo"> Roll Number </label><br />
                <input class="form-control" asp-for="@Model.student.RollNo" required/><br />
            </div>

            <div class ="form-group">
                <label class="form-label"for="Email">Email Address</label><br />
                <input class="form-control" asp-for="@Model.student.Email" required/><br />
            </div>

            <div>
                <label class="form-label" style="font-weight:bold;" for="Gender">Gender</label><br />

                <label class="form-check-label">
                    <input class="form-check-input custom-radio" type="radio" asp-for="@Model.student.Gender" value="Male" required />
                    Male
                </label>

                <label class="form-check-label">
                    <input class="form-check-input custom-radio" type="radio" asp-for="@Model.student.Gender" value="Female" />
                    Female
                </label>

                <span asp-validation-for="student.Gender" data-val="true" data-val-required="Please select a gender"></span>
            </div>


            <div class="form-group">
                <br /><label class="form-label" for="City"> City </label><br />
                <select class="form-control" asp-for="@Model.student.City" style="padding-right: 60px; padding-top:5px; padding-bottom:5px;" required>
                    <option value="">Select an option</option>
                    @foreach (var city in Model.Cities)
                    {
                        <option value="@city">@city</option>
                    }
                </select><br />
            </div>

            <div class="form-group">
                <label class="form-label" for="DOB"> Date of Birth </label><br />
                <input class="form-control date-picker" asp-for="@Model.student.DOB" autocomplete="off" required/><br />
            </div>

            <div class="form-group">
                <label class="form-label" for="Interest"> Interest </label><br />
                <input class="form-control" list="List" asp-for="@Model.student.Interest" placeholder="Select your interest" required/><br />
                <datalist id="List">
                    @foreach (var interest in Model.Interests)
                    {
                        <option value="@interest">@interest</option>
                    }
                </datalist>
            </div>

            <div class="form-group">
                <label class="form-label" for="Department"> Department </label><br />
                <select class="form-control" asp-for="@Model.student.Department" style="padding-top:5px; padding-bottom:5px;" required>
                    <option value="">Select an option</option>
                    @foreach (var department in Model.Departments)
                    {
                        <option value="@department">@department</option>
                    }
                </select><br />
            </div>

            <div class="form-group">
                <label class="form-label" for="Degree"> Degree Title </label><br />
                <select class="form-control" asp-for="@Model.student.Degree" style="padding-right: 10px; padding-top:5px; padding-bottom:5px;" required>
                    <br />
                    <option value="">Select an option</option>
                    @foreach (var degree in Model.Degrees)
                    {
                        <option value="@degree">@degree</option>
                    }
                </select><br />
            </div>

            <div class="form-group">
                <label class="form-label" for="Subject"> Subject </label><br />
                <input class="form-control" asp-for="@Model.student.Subject" required/><br />
            </div>

            <div class="form-group">
                <label class="form-label" for="Start"> Start Date </label><br />
                <input class="form-control date-picker" asp-for="@Model.student.Start" autocomplete="off" required />
            </div>
             
            <div class="form-group">
                <label class="form-label" for="End"> End Date </label><br />
                <input class="form-control date-picker" asp-for="@Model.student.End" autocomplete="off" required/>
            </div>

            <input class="btn btn-dark" type="submit" value="Add Student" />
            <button class="btn btn-dark" type="button" onclick="cancelButtonClick()">Cancel</button>

        </form>
    </section>

    <script>

        function cancelButtonClick() {
            window.location.href = '/Student/AllStudents';
        }

        $('.date-picker').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            startView: 'years',
            minViewMode: 'years',
            startDate: '1990', 
            endDate: '2023' 
        });
    </script>

</body>
</html>

